/* 初始页面样式 */
*{
	margin: 0;
	padding: 0;
}
a{
	text-decoration: none;
}
li{
	list-style: none;
}
.fl{
	float: left;
}
.fr{
	float: right;
}

/* header 开始 */
.header{
	height: 140px;
}
.header_top{
	height: 40px;
	background-color: #333;
}
.header_top_con{
	width: 1226px;
	height: 40px;
	margin: 0 auto;
}
.header .header_top_con a{
	font-size: 9px;
	line-height: 40px;
	color: #b0b0b0;
}
.header .header_top_con span{
	font-size: 9px;
	line-height: 40px;
	color: #3b423b;
}

.header_shop{
	width: 120px;
	height: 40px;
	background-color: #424242;
	text-align: center;
	margin-left: 25px;
}
.header .header_shop>i{
	color: #b0b0b0;
}
.header .header_shop>span{
	font-size: 11px;
	color: #B0B0B0;
}

.header_mid{
	width: 1226px;
	height: 100px;
	margin: 0 auto;
}
.header .logo{
	width: 55px;
	height: 55px;
	margin-top: 22px;
	margin-right: 5px;
}
.header_nav{
	height: 66px;
	margin-top: 17px;
}
.header_nav>li{
	line-height: 66px;
	margin: 0 10px;
	float: left;
}
.header_nav>li>a{
	font-size: 16px;
	color: #333;
}
.header_sou{
	margin-top: 25px;
	position: relative;
}
.header_sou>input{
	width: 243px;
	height: 48px;
	border: 1px #e0e0e0 solid;
	border-right: none;
	outline: none;
	position: absolute;
	right: 52px;
}
.header_sou>button{
	width: 52px;
	height: 50px;
	outline: none;
	cursor: pointer;
	background-color: #fff;
	border: 1px #e0e0e0 solid;
	position: absolute;
	right: 0;
}
.header_sou>button>i{
	font-size: 18px;
	color: #616161;
	font-weight: bold;
}
.header_sou_r{
	width: 75px;
	height: 18px;
	font-size: 11px;
	text-align: center;
	color: #757575;
	line-height: 18px;
	background-color: #eee;
	position: absolute;
	right: 62px;
	top: 16px;
}
.header_sou_l{
	width: 70px;
	height: 18px;
	font-size: 11px;
	text-align: center;
	color: #757575;
	line-height: 18px;
	background-color: #eee;
	position: absolute;
	right: 142px;
	top: 16px;
}
/* header 结束 */

/* banner 开始 */
.banner{
	width: 1226px;
	height: 460px;
	margin: 0 auto;
	position: relative;
	cursor: pointer;
}
.nav_bg{
	width: 234px;
	height: 460px;
	background-color: #000;
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0.6;
}
.banner_nav{
	width: 234px;
	height: 460px;
	padding: 20px 0;
	position: absolute;
	top: 0;
	left: 0;
}
.hov{
	background-color: #ffa820;
	cursor: pointer;
}
.banner_nav li>a{
	color: #fff;
	font-size: 14px;
	line-height: 42px;
	margin-left: 30px;
}
.banner_nav li>a>i{
	font-size: 16px;
	color: #e0e0e0;
	font-weight: bolder;
	margin-right: 20px;
}
.btnList{
	position: absolute;
	right: 35px;
	bottom: 25px;
	cursor: pointer;
}
.btnList>li{
	width: 6px;
	height: 6px;
	border: 2px #a56465 solid;
	border-radius: 5px;
	background-color: #7e2224;
	float: left;
	margin-left: 10px;
}
.btnList>.ac{
	background-color: #e4888a;
}
.lists{
	width: 994px;
	height: 456px;
	display: none;
	position: absolute;
	left: 234px;
	top: 0;
	z-index: 9;
	border-left: 0;
}
.lists>.ban_box{
	position: absolute;
	background: #fff;
	border: 1px solid #e0e0e0;
	box-shadow: 0 8px 16px rgba(0,0,0,.18);
	overflow: hidden;
}
.lists ul{
	width: 248px;
	height: 456px;
	float: left;
	padding: 2px 0;
}
.lists li{
	position: relative;
	width: 265px;
	height: 76px;
}
.lists li>a{
	display: block;
	padding: 18px 20px;
	line-height: 40px;
	color: #333;
}
.lists li>a:hover span{
	color: #ff6700;
}
.lists li>a>img{
	width: 40px;
	height: 40px;
	line-height: 40px;
	float: left;
	margin-right: 12px;
	vertical-align: middle;
}
.lists li>a>span{
	font-size: 14px;
	color: #333;
	float: left;
	width: 172px;
	line-height: 40px;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}


/* banner 结束 */

/* new 开始 */
.new{
	height: 798px;
	margin: 14px auto 0;
	background: #f5f5f5;
}
.new_tops{
	height: 195px;
	padding-bottom: 25px;
	background: #fff;
}
.new_top{
	width: 1226px;
	height: 170px;
	margin: 0 auto;
}
.new_top1{
	width: 216px;
	height: 152px;
	padding: 9px;
	background-image: url(../image/banner_bot/six-icons-bg_03.jpg);
}
.new_top1_icon{
	width: 64px;
	height: 75px;
	margin-right: 12px;
	cursor: pointer;
}
.new_top1_icon>img{
	margin-left: 19px;
	margin-top: 11px;
}
.new_top1_icon>p{
	color: #cdcac8;
	font-size: 11px;
	line-height: 25px;
	text-align: center;
}
.last{
	margin-right: 0;
}
.new_top2>img{
	width: 316px;
	height: 170px;
	margin-left: 14px;
	cursor: pointer;
}

.new_mid{
	width: 1226px;
	height: 399px;
	margin: 0 auto; 
	position: relative;
}
.new_mid>p{
	color: #333;
	font-size: 21px;
	line-height: 59px;
}
.new_mid_con{
	height: 400px;
}
.new_mid_pic1{
	width: 234px;
	height: 339px;
	background-color: #f1eded;
	border-top: 1px #e53935 solid;
}
.new_mid_pic1>p{
	color: #ef3a3b;
	font-size: 17px;
	text-align: center;
	line-height: 83px;
}
.new_mid_pic1>img{
	margin-left: 100px;
}
.new_mid_pic1>span{
	font-size: 13px;
	line-height: 80px;
	color: #706f6f;
	display: block;
	text-align: center;
}
.new_time{
	width: 168px;
	height: 46px;
	margin-left: 33px;
}
.time_h{
	display: block;
	text-align: center;
	color: #fff;
	font-size: 17px;
	line-height: 46px;
	width: 46px;
	height: 46px;
	background-color: #605751;
}
.time_i{
	display: block;
	text-align: center;
	width: 15px;
	height: 46px;
	line-height: 46px;
	color: #605751;
}
.btns{
	position: absolute;
	right: 0;
	top: 24px;
}
.btn{
	display: block;
	width: 24px;
	height: 16px;
	padding: 3px 5px;
	border: 1px solid #e0e0e0;
	font-size: 20px;
	font-weight: bolder;
	line-height: 16px;
	transition: color .5s;
	text-align: center;
	cursor: pointer;
	float: right;
}
.btns>span:last-child{
	margin-right: -1px;
	transform:rotate(180deg);
}
.btn_Ok{
	color: #b0b0b0;
	cursor: cursor;
}
.btnDis{
	color: #e0e0e0;
	cursor: default;
}
.btnAc{
	color: #ff6700;
}

.new_mid_rig{
	position: relative;
	width: 978px;
	height: 340px;
	margin-left: 14px;
	float: left;
	overflow: hidden;
}
.wraps{
	position: absolute;
	width: 3968px;
	height: 340px;
}
.new_mid_pic{
	width: 234px;
	height: 339px;
	background-color: #fff;
	border-top: 1px #ffac13 solid;
	margin-right: 14px;
	cursor: pointer;
}
.new_mid_pic>img{
	margin-left: 59px;
	margin-top: 64px;
	width: 116px;
	height: 116px;
}
.new_mid_pic>.p1{
	font-size: 12px;
	line-height: 24px;
	color: #202020;
	margin-top: 45px;
	text-align: center;
}
.new_mid_pic>.p2{
	font-size: 11px;
	line-height: 21px;
	color: #adadad;
	text-align: center;
}
.new_mid_pic>.p3{
	font-size: 12px;
	line-height: 42px;
	color: #fa6509;
	text-align: center;
}
.new_mid_pic>.p3>span{
	color: #adadad;
	text-decoration: line-through;
}

.new_but{
	width: 1226px;
	height: 120px;
	margin: 42px auto 0; 
	cursor: pointer;
}
.new_but>img{
	width: 1226px;
	height: 120px;
}
/* new 结束 */

/* main 开始 */
.main{
	height: 6912px;
	background-color: #f5f5f5;
}
.fool1{
	width: 1226px;
	height: 746px;
	margin: 0 auto;
}
.fool1_top{
	height: 60px;
	padding-top: 58px;
}
.fool1_top>.p1{
	font-size: 21px;
	line-height: 60px;
	color: #333;
}
.fool1_top>img{
	margin-top: 21px;
	float: right;
	cursor: pointer;
}
.fool1_top>.p2{
	font-size: 15px;
	line-height: 57px;
	color: #424242;
	margin-top: 3px;
	margin-right: 8px;
	cursor: pointer;
}

.fool1_con{
	height: 628px;
}
.fool1_con_l{
	width: 234px;
	height: 628px;
	cursor: pointer;
}
.fool1_con_r{
	width: 992px;
	height: 628px;
	display: none;
}
.xian{
	display: block;
}
.con_r_li{
	width: 234px;
	height: 300px;
	background-color: #fff;
	margin-left: 14px;
	margin-bottom: 14px;
	cursor: pointer;
}
.con_r_la{
	width: 234px;
	height: 300px;
	margin-left: 14px;
	margin-bottom: 14px;
	cursor: pointer;
}
.con_r_li>.p1{
	width: 64px;
	height: 20px;
	color: #fff;
	background-color: #e53935;
	margin-left: 85px;
	font-size: 11px;
	line-height: 20px;
	text-align: center;
}
.con_r_li>.p2{
	font-size: 14px;
	line-height: 24px;
	color: #202020;
	text-align: center;
}
.con_r_li>.p3{
	font-size: 11px;
	line-height: 21px;
	color: #adadad;
	text-align: center;
}
.con_r_li>.p4{
	font-size: 14px;
	line-height: 42px;
	color: #fa6509;
	text-align: center;
}
.con_r_li>.p4>span{
	color: #adadad;
	text-decoration: line-through;
}

.fools{
	width: 1226px;
	height: 120px;
	margin: 28px auto;
	cursor: pointer;
}
.fools>img{
	width: 1226px;
	height: 120px;
}

.fool2{
	width: 1226px;
	height: 680px;
	margin: 0 auto;
}
.fool2_top{
	height: 52px;
}
.fool2_top>.p1{
	font-size: 22px;
	line-height: 45px;
	color: #333;
}
.foolli{
	float: left;
	margin-left: 30px;
	color: #424242;
	font-size: 15px;
	line-height: 23px;
	margin-top: 11px;
}
.foolli:hover{
	border-bottom: 2px #ff6700 solid;
	color: #ff6700;
	cursor: pointer;
}
.con_r_last1{
	height: 143px;
	margin-bottom: 14px;
	background-color: #fff;
}
.con_r_last1>img{
	float: right;
}
.con_r_last1 .p1{
	font-size: 12px;
	line-height: 28px;
	color: #333;
	margin-top: 36px;
	margin-left: 30px;
}
.con_r_last1 .p2{
	font-size: 11px;
	line-height: 25px;
	color: #ff6700;
	margin-left: 30px;
}
.con_r_last2{
	height: 143px;
	margin-bottom: 14px;
	background-color: #fff;
}
.con_r_last2>img{
	float: right;
}
.con_r_last2 .p1{
	font-size: 17px;
	line-height: 27px;
	color: #333;
	margin-top: 50px;
	margin-left: 30px;
}
.con_r_last2 .p2{
	font-size: 11px;
	line-height: 25px;
	color: #757575;
	margin-left: 30px;
}

.fool3{
	width: 1226px;
	height: 366px;
	margin: 0 auto;
}
.fool3_top{
	height: 52px;
}
.fool3_top>.p1{
	font-size: 22px;
	line-height: 45px;
	color: #333;
}
.fool3_top>.p2>li{
	float: left;
	margin-left: 30px;
	color: #424242;
	font-size: 15px;
	line-height: 23px;
	margin-top: 11px;
}
.fool3_top>.p2>li:hover{
	border-bottom: 2px #ff6700 solid;
	color: #ff6700;
	cursor: pointer;
}

.fool4{
	width: 1226px;
	height: 481px;
	margin: 0 auto;
}
.fool4_top{
	height: 52px;
}
.fool4_top>.p1{
	font-size: 22px;
	line-height: 45px;
	color: #333;
}
.con_r_lis{
	width: 296px;
	height: 415px;
	background-color: #fff;
	margin-left: 14px;
	margin-bottom: 14px;
	cursor: pointer;
}
.con_r_lis>img{
	width: 296px;
	height: 220px;
}
.con_r_lis>.p1{
	width: 238px;
	height: 72px;
	color: #333;
	font-size: 12px;
	line-height: 24px;
	margin-top: 28px;
	margin-left: 28px;
}
.con_r_lis>.p2{
	color: #b0b0b0;
	font-size: 11px;
	line-height: 27px;
	margin-top: 17px;
	margin-left: 28px;
}
.con_r_lis>.p3{
	color: #333;
	font-size: 12px;
	line-height: 32px;
	margin-left: 28px;
}
.con_r_lis>.p3>.sp1{
	color: #e1e7f1;
}
.con_r_lis>.p3>.sp2{
	color: #ff6700;
}

.fool5{
	width: 1226px;
	height: 486px;
	margin: 0 auto;
}
.fool5_con{
	height: 420px;
}
.fool5_li{
	width: 296px;
	height: 419px;
	background-color: #fff;
	border-top: 1px #fff solid;
	margin-left: 14px;
	cursor: pointer;
}
.fool5_li>.p1{
	font-size: 15px;
	line-height: 53px;
	margin-top: 31px;
	text-align: center;
	color: #ffac13;
}
.fool5_li>.p2{
	font-size: 20px;
	line-height: 32px;
	text-align: center;
	color: #333;
}
.fool5_li>.p3{
	font-size: 11px;
	line-height: 21px;
	color: #b0b0b0;
	text-align: center;
}
.fool5_li>.p4{
	font-size: 12px;
	line-height: 42px;
	color: #333;
	text-align: center;
}
.fool5_li>ul{
	height: 10px;
	margin-top: 32px;
	margin-left: 79px;
}
.fool5_li>ul>li{
	width: 6px;
	height: 6px;
	background-color: #b0b0b0;
	border: 2px #fff solid;
	border-radius: 5px;
	float: left;
	margin: 0 13px;
}

.fool6{
	width: 1226px;
	height: 366px;
	margin: 0 auto;
}
.fool6_con{
	height: 285px;
}
.fool6_li{
	width: 296px;
	height: 285px;
	background-color: #fff;
	border-top: 1px #fff solid;
	margin-left: 14px;
	cursor: pointer;
}
.fool6_li>.p1{
	font-size: 13px;
	line-height: 27px;
	color: #333;
	text-align: center;
}
.fool6_li>.p2{
	font-size: 11px;
	line-height: 25px;
	color: #b0b0b0;
	text-align: center;
}
.acqh{
	border-bottom: 2px #ff6700 solid;
	color: #ff6700;
}
/* main 结束 */

/* footer 开始 */
.footer{
	height: 438px;
}
.footer_top{
	height: 272px;
}
.ft_con{
	width: 1226px;
	height: 272px;
	margin: 0 auto;
}
.ft_con1{
	height: 79px;
	border-bottom: 1px #e0e0e0 solid;
}
.ft_con1>ul>li{
	width: 184px;
	height: 25px;
	margin-left: 58px;
	margin-top: 27px;
	border-right: 1px #e0e0e0 solid;
	float: left;
}
.ft_con1>ul>li>.p1{
	margin-left: 6px;
	font-size: 16px;
	line-height: 25px;
	color: #616161;
}
.ft_con2{
	height: 192px;
}.ft_con2>ul>li{
	margin-top: 18px;
	float: left;
	width: 160px;
}
.ft_con2>ul>li>p{
	font-size: 12px;
	line-height: 58px;
	color: #424242;
}
.ft_con2>ul>li>ul{
	font-size: 11px;
	line-height: 28px;
	color: #757575;
}
.ft_con2_r{
	width: 151px;
	height: 112px;
	border-left: 1px #e0e0e0 solid;
	margin-top: 40px;
	text-align: center;
}
.ft_con2_r>.p1{
	font-size: 16px;
	line-height: 19px;
	color: #ff6700;
	text-align: center;
}
.ft_con2_r>.p2{
	font-size: 11px;
	line-height: 19px;
	color: #616161;
	text-align: center;
}
.ft_con2_r>.p3{
	width: 118px;
	height: 28px;
	margin: 0 auto;
	margin-top: 16px;
	border: 1px #ff6700 solid;
}

.footer_but{
	height: 166px;
	background-color: #fafafa;
}
.fb_con{
	width: 1226px;
	height: 117px;
	margin: 0 auto;
}
.fb_con2{
	margin-top: 30px;
	margin-left: 10px;
}
.fb_con2>.p1>a{
	font-size: 11px;
	line-height: 17px;
	color: #757575;
}
.fb_con2>.p1>span{
	font-size: 13px;
	line-height: 17px;
	color: #c0b0c0;
}

.fb_pic{
	margin-top: 34px;
	margin-right: 12px;
}
.fb_txt{
	font-size: 11px;
	line-height: 14px;
	color: #515151;
	margin-left: 6px;
}
.end{
	text-align: center;
}
.re{
	width: 83px;
	height: 364px;
	border-top: 1px #f5f5f5 solid;
	border-left: 1px #f5f5f5 solid;
	position: fixed;
	right: 0;
	top: 392px;
}
.res{
	width: 83px;
	height: 68px;
	padding-top: 22px;
	background-color: #fff;
	border-bottom: 1px #f5f5f5 solid;
	text-align: center;
	cursor: pointer;
}
.res_txt{
	font-size: 12px;
	line-height: 40px;
	color: #757575;
}
.gotop{
	border: 1px #f5f5f5 solid;
	margin-top: 14px;
	display: none;
}
.gotop:hover .res_txt{
	color: #ff6700;
}
/* footer 结束 */